
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
    
}
body{
    overflow: hidden;
    overflow-y: scroll;
}

nav{
    overflow: hidden;
    height: 80px;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5rem;
    padding-left: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(222 47% 11% );
    color: hsl(210 40% 98%);
    position:relative;
   

 
}
nav .logo{
    display: flex;
    gap: 0.5rem;
    height:40px;


}
nav .logo-img{
   
    width: 40px;
    height: 40px;
    border-radius:20px;
}
nav .logo-name{
    
    margin-top: 0.9rem;
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-weight: 700;
    background: linear-gradient(to right, #60a5fa, #c084fc, #818cf8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;

}
.alternate-name{
    display: none;
}
.nav-toggle{
    display: none;
}
.elements{
  
    display: flex;
    gap: 30px;
  
    
}

.elements a{
    color:rgb(209, 210, 219);
    text-decoration: none;
    font-weight: 500;
    font-size: 75rem;
    font-size: 0.9rem;
    transition: color 0.3s;


}
.elements a:hover {
    color: white;
}
.join-button {
    display: inline-block;
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #4a31ad 0%, #9b49f2 100%);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(106, 73, 242, 0.5);
    transition: all 0.3s ease;
}

.join-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(106, 73, 242, 0.6);
}

.join-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(106, 73, 242, 0.4);
}

.header-section{
    padding-top:30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:4rem 2rem ;
    background-color:#1c0c41;
    background-image: linear-gradient(to right, rgb(30 58 138 / 0.2), rgb(30 58 138 / 0));
}
.line{
    height: 1px;
    border: none;
    background-color: #4a31ad;
    background: linear-gradient(135deg, #4a31ad 0%, #9b49f2 100%);
}

.header-section .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;

}
.welcome-button{
    padding: 8px;
    width: 150px;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    --tw-text-opacity: 1;
    color: rgb(165 180 252/var(--tw-text-opacity,1));
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: rgb(49 46 129/.3);
    border-width: 1px;
    border-radius: 9999px;
    text-align: center;

}



.welcome-text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #a5a5a5;
}

.left-heading {
    font-size: 1.9rem;
    

}
.left-heading .up{
    color: white;

}
.left-heading .down{
    background: linear-gradient(to right, #60a5fa, #c084fc, #818cf8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: -1rem;
}
.content{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(160, 155, 167);
}
.hero-button{
    display: flex;
    gap: 3rem;
}
.hero-button .button1{
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #4a31ad 0%, #9b49f2 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 4px 15px rgba(106, 73, 242, 0.5); */
    /* transition: all 0.3s ease; */


}
.hero-button .button1:hover{

    background: #5728a9;

}
.hero-button .button2{
    background-color: hsl(222 47% 11% );;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: border-color 0.3s;

}
.hero-button .button2:hover{
    background: transparent;
}
.right .logo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(124, 58, 237, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 17, 38, 0.8);
}
.right .logo img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}


.toggle-menu {
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

